{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login | Wildlife Corridor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="login-container">
    <h2>Wildlife Corridor System</h2>

    <div class="login-box">
        <h3>Admin Login</h3>
        <form action="/admin/login/" method="get">
            <button type="submit">Login as Admin</button>
        </form>
    </div>

    <div class="login-box">
        <h3>Sensor / Animal Login</h3>
        <form action="/sensor-login/" method="get">
            <button type="submit">Login as Animal</button>
        </form>
    </div>
</div>

</body>
</html>
